{% extends 'tys_webapp/base.html' %}
{% load bootstrap3 %}

{% block title %} - Etsy Edition{% endblock %}

{% block title2 %} - Etsy Edition{% endblock %}

{% block content %}
    <h1>Sign In</h1>
    {% if message %}
            {% bootstrap_alert message alert_type='danger' %}
    {% endif %}
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        Enter your ETSY username
        <input type="text" name="user_id" size="100">
        <br><br>
        <input type="submit" value="Treat Yo Self!">
    </form>
{% endblock %}
