{% extends 'tys_webapp/base.html' %}
{% load bootstrap3 %}


{% block title %} : Etsy Edition{% endblock %}
{% block title2 %}Etsy Edition{% endblock %}

{% block navbar %}
<nav class="navbar">
    <div class="container-fluid">
        <div class="nav navbar-nav navbar-right">
            Signed in as {{ username }}   <a href="/logout/" role="button" class="btn btn-default navbar-btn">Log Out</a>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}

    <br>

    {% if message %}
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
    {% endif %}

    <br><br>
    <form class="PreferenceForm" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    {{ inclusive_key_set }}
    {{ exclusive_key_set }}
    <br>
    <button class="btn btn-default" type="submit">OK</button>
    <button class="btn btn-default" type="reset">Cancel</button>
    </form>

{% endblock %}
