body {
    background-color: #C6FFC6;
    color: #004D4D;
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
    font-size: 18px;
}

h1 {
    font-weight: 600;
    font-size: 42px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    float: right;
    margin-right: 5%;
}

.container {
    height: 90vh;
}