body {
    background-color: #EBD6D6;
    color: #004D4D;
    margin: 0px;
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
    font-family: Tahoma, Geneva, sans-serif;
}

h1 {
    font-size: 48px;
}

footer {
    text-align: left;
}